body {font: 10px monospace;}
div {
  float: left;
  width: 110px;
  height: 275px;
  margin: 10px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
}
img {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
section {
  margin: 10px;
}
p {
  margin: 5px 0;
}
p:first-child {
  font-weight: bold;
}
p:nth-child(2) {
  color: red; font-weight: bold;
}
